html, body {
    overflow: hidden;
    margin: 0px;
    padding : 0px;
    width: 100%;
    height: 100%;
}

.button {
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    line-height: 28px;
    padding: 0 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
}

ol, ul {
    list-style: none
}

a.button {
    text-decoration: none!important;
}

.inline {
    display: inline;
}

ul.inline, ul.inline>li {
    display: inline-block;
}
main.container {
    overflow: visible;
    width: 100%;
    height: 100%;
}

.pictures {
    width: 66%;
    height: 100%;
    float: left;
    box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,.6);
}

.pictures .show-me {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.pictures img {
    width: 100%;
}

.pictures .show-me.one {
    background-image : url('../images/optimized/hax0r.jpg');
}

.pictures .show-me.two {
    background-image : url('../images/optimized/freeeeeeee.jpg');
}

.pictures .show-me.three {
    background-image : url('../images/optimized/real-gangster.jpg');
}

.about {
    overflow: hidden;
    width: 34%;
    float: left;
}

.about > .me {
    padding : 40px
}

.about > .me .headline {
    margin-top: 20%;
}

.about > .me .headline > h2 {
    font-size: 28px;
    font-weight: 800;
    display: inline-block;
    margin: 0px;
    letter-spacing: -0.2px;
}

.about > .me .bio {
    margin-top: 15px;
    font-size: 16px;
}

.about > .me .subscribe-me {
    margin-top: 20px;
    margin-bottom: 20px;
}

.about > .me .subscribe-me > a {
    background-color: #305B90;
    border-color: #305B90;
    color: #fff;
    box-shadow: inset 0 0 0 100px transparent;
    min-width: 100%;
    font-size: 15px;
    transition: all .15s ease-out;
}

.about > .me .interests {
    margin-top: 20px;
}

.about > .me .interests ul.inline {
    padding: 0;
    margin: 0;
    list-style: none;
}

.about > .me .interests ul.inline li {
    padding: 0;
    margin: 5px;
    color: #777;
    vertical-align: baseline;
}


@media (max-width: 800px) {
    html, body {
        overflow: visible;
    }
    .pictures {
        width: 100%;
        height: 40%;
    }
    .about {
        width: 100%;
    }

    .about > .me .headline {
        margin-top : 0px
    }
}